* {
  padding: 4px;
  max-width: 75%;
  color: white;
  background-color: #333;
  font-family: 'Red Hat Display', sans-serif;
}

.gamemen{
  position: absolute;
  width: 50%;
  height: 152px;
  left: 147px;
  top: 175px;

  background: rgba(13, 13, 13, 0.6);
  border-radius: 18px;
}